.cs142-topbar-appBar {
  height: 60px;
  justify-content: center;
}

/* .logoutButton {
  border: 1px solid white;
  padding: 6px 12px;
  background-color: white;
  color: black;
  text-transform: none;
} */
